<div data-ng-controller="ProjectController"  data-ng-init="loadData()">
    <div class="big-panel big-panel--invert user-form--arrow">
        <div class="recurso-solicitado">
            <h3 class="recurso-solicitado__title">Recurso Solicitado</h3>
            <div class="media-box">
                <figure class="media-box__image">
                    <img ng-src="http://45.55.235.242/232x154/smart/{{resource_selected.image}}" alt="">
                </figure>
                <h4 class="media-box__title">{{resource_selected.name}}</h4>
                <p class="media-box__content">{{resource_selected.description}}</p>
            </div>
        </div>
        <h4 class="big-panel__title">Cuentanos sobre tu proyecto</h4>
        <p class="big-panel__content">Es importante que seas sintético y claro, ya que para asignar los recursos los proyectos serán evaluados tanto por los jurados como por la misma comunidad postulante. También utilizaremos la información para generar indicadores y medir el impacto general del fondo.</p>
    </div>

    <form name="projectForm" class="user-form user-form--solicitar" role="form" data-ng-submit="create(projectForm.$valid)" novalidate>
            <div class="layout">
                <div class="layout__1-2">

                    <div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.name.$invalid }">
                        <label mean-token="'create-name'" class="control-label">Nombre</label>
                        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="Nombre" required>
                        <div ng-show="submitted && projectForm.name.$invalid" class="help-block">
                        <p ng-show="projectForm.name.$error.required">Nombre es requerido</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.project_type.$invalid }">
                    <label mean-token="'create-project_type'" class="control-label">Tipo de Proyecto</label>
                    <select name="project_type" type="text" class="form-control" data-ng-model="project_type_selected" id="project_type" placeholder="Tipo de Proyecto" required ng-options="ptypes.description for ptypes in projectTypes"> </select>
                    <div ng-show="submitted && projectForm.project_type.$invalid" class="help-block">
                        <p ng-show="projectForm.project_type.$error.required">Tipo de Proyecto es requerido</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.description.$invalid }">
                    <label mean-token="'create-description'" for="description" class="control-label">Descripcion</label>
                    <textarea name="description" data-ng-model="description" id="description" cols="30" rows="10" placeholder="Descripcion" class="form-control" required></textarea>
                    <div ng-show="submitted && projectForm.description.$invalid" class="help-block">
                        <p ng-show="projectForm.description.$error.required">Descripcion es requerido</p>
                    </div>
                </div>
            </div>

            <div class="layout__1-2">

                <div class="form-group">
                    <label mean-token="'create-organization_owner'" class="control-label">Organizacion</label>
                    <input name="organization_owner" type="text" class="form-control" data-ng-model="organization_owner.name" id="organization_owner" disabled>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.stakeholders.$invalid }">
                    <label mean-token="'create-stakeholders'" for="stakeholders" class="control-label">Beneficiarios</label>
                    <textarea name="stakeholders" data-ng-model="stakeholders" id="stakeholders" cols="30" rows="10" placeholder="Beneficiarios" class="form-control" ></textarea>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.picture_path.$invalid }">
                    <label mean-token="'create-picture_path'" for="picture_path" class="control-label">Imagen Proyecto</label>

                    <div class="row">
                        <div ngf-select ngf-drop ng-model="files" ng-model-rejected="rejFiles"
                            ngf-multiple="multiple" ngf-accept="accept" accept="{{acceptSelect}}"
                            ngf-disabled="disabled" ngf-capture="capture"
                            ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                            ngf-min-size="minSize" ngf-max-size="maxSize"
                            ngf-keep="keep" ngf-keep-distinct="keepDistinct" ngf-reset-on-click="resetOnClick"
                            ngf-reset-model-on-click="resetModelOnClick"
                            ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">
                                <img ng-show="image" ng-src="http://45.55.235.242/232x154/smart/{{image}}" >
                                <span ng-show="!image">Click aquí para seleccionar una imagen <span ng-show="dropAvailable">o arrastra una</span></span>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="row">
            <button mean-token="'create-submit'" type="submit" class="center-block btn btn-success btn-lg">Postulá tu Proyecto!</button>
        </div>

    </form>
</div>
