.preguntas-frecuentes
  margin: 0 20px
  &__video
    float: right
  &__panel
    max-width: 665px
  &__label
    font-size:22px
  &__list
    margin-bottom: 20px 
    font-size: 14px
    border-bottom: 1px solid #9a9a9a
  &__question
    font-weight: bold
    padding: 10px
    cursor: pointer
    border-top: 1px solid #9a9a9a
  &__answer
    overflow: hidden
    display: none
    padding: 10px
    &--active
      display: block
