.proyectos
  background: #eee
  padding: 20px
  cf()
  &__title
    text-align: center
    font-size: 24px;
  &--detalle
    .proyectos__subtitle
      text-align: center
      font-size: 28px
      margin: 0 0 16px 0
    .proyectos__title
      margin-top: 0
      font-size: 38px
      color: $rojo
    .proyectos__label
      margin-top: 30px
      &--em
        color: #000
    .proyectos__image
      margin-bottom: 20px
    .proyectos__link
      color: #454545
      text-decoration: underline
    .tags
      margin-left: 0
    .list__link
      color: $purpura