.user-form
  //background: $purpura
  padding: 45px 30px 30px
  &--solicitar
    //background: $purpura
  &--arrow
    position: relative
    &:before
      content: ''
      position: absolute
      bottom: -50px
      left: 50%
      margin-left: -25px
      border: 25px solid transparent
      border-top-color: $purpura 