<div data-ng-controller="ResourceController"  data-ng-init="loadData()">
    <!--div class="user-form user-form--compartir user-form--arrow"-->

        <div class="big-panel big-panel--invert user-form--arrow">
            <h4 class="big-panel__title">Comparte un recurso con el fondo</h4>
            <p class="big-panel__content">Te invitamos a mirar tu organización con abundancia, compartiendo un recurso valioso con el fondo. Recuerda que, en el paradigma de la economía colaborativa, cuando más damos, más recibimos.</p>
        </div>

        <form name="resourceForm" class="user-form user-form--compartir" role="form" data-ng-submit="create(resourceForm.$valid)" novalidate>
            <div ng-show="!has_organization" class="row">
                <h3>Organización</h3>
                <div class="col-md-6">

                    <div class="form-group" ng-class="{ 'has-error' : submitted && organizationForm.name.$invalid }">
                        <label mean-token="'create-nombre'" class="control-label">Nombre </label>
                        <input name="name" type="text" class="form-control" data-ng-model="organization.name" id="name" placeholder="Nombre de tu organización" >
                        <div ng-show="submitted && organizationForm.name.$invalid" class="help-block">
                            <p ng-show="organizationForm.name.$error.required">Nombre es requerido</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : submitted && organizationForm.description.$invalid }">
                        <label mean-token="'create-mision'" class="control-label">Misión</label>
                        <textarea name="description" data-ng-model="organization.description" id="description" cols="30" rows="10" placeholder="Descripción breve de tu organización" class="form-control" ></textarea>
                        <div ng-show="submitted && organizationForm.description.$invalid" class="help-block">
                            <p ng-show="organizationForm.description.$error.required">Descripcion es requerida</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.country.$invalid }">
                        <label mean-token="'create-country'" class="control-label">Pais</label>
                        <select name="country" type="text" class="form-control" data-ng-model="organization.country_selected" id="country" placeholder="País" ng-options="country.description for country in countries">
                        </select>
                        <div ng-show="submitted && resourceForm.country.$invalid" class="help-block">
                            <p ng-show="resourceForm.country.$error.required">El Pais es requerido</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <h3>Recurso</h3>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.resource_type.$invalid }">
                        <label mean-token="'create-resource_type'" class="control-label">Tipo de Recurso</label>
                        <select id="tags" multiple="multiple" name="tags" type="text" class="form-control" data-ng-model="tags" placeholder="Caracterísiticas del Recurso" ng-options="ress.description for ress in resourceTypes"> </select>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.name.$invalid }">
                        <label mean-token="'create-name'" class="control-label">Nombre</label>
                        <input name="name" type="text" class="form-control" data-ng-model="name" id="name" placeholder="Nombre" required>
                        <div ng-show="submitted && resourceForm.name.$invalid" class="help-block">
                            <p ng-show="resourceForm.name.$error.required">Nombre es requerido</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.description.$invalid }">
                        <label mean-token="'create-description'" for="description" class="control-label">Descripcion</label>
                        <textarea name="description" data-ng-model="description" id="description" cols="30" rows="10" placeholder="Descripcion" class="form-control" required></textarea>
                        <div ng-show="submitted && resourceForm.description.$invalid" class="help-block">
                            <p ng-show="resourceForm.description.$error.required">Descripcion es requerido</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.picture_path.$invalid }">
                        <label mean-token="'create-picture_path'" for="picture_path" class="control-label">Imagen Recurso</label>
                        <div class="row">
                            <div ngf-select ngf-drop ng-model="files" ng-model-rejected="rejFiles"
                                ngf-multiple="multiple" ngf-accept="accept" accept="{{acceptSelect}}"
                                ngf-disabled="disabled" ngf-capture="capture"
                                ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                ngf-min-size="minSize" ngf-max-size="maxSize"
                                ngf-keep="keep" ngf-keep-distinct="keepDistinct" ngf-reset-on-click="resetOnClick"
                                ngf-reset-model-on-click="resetModelOnClick"
                                ngf-allow-dir="allowDir" class="drop-box col-md-offset-1 col-md-10" ngf-drop-available="dropAvailable">

                                <img ng-show="image" ng-src="http://45.55.235.242/232x154/smart/{{image}}" >
                                <img ng-show="!image && uploading" src="/assets/img/loader.gif" width="75" height="75" />
                                <span ng-show="!image && !uploading">Click aquí para seleccionar una imagen <span ng-show="dropAvailable">o arrastra una</span></span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.cost.$invalid }">
                        <label mean-token="'create-cost'" class="control-label">Costo</label>
                        <input name="cost" type="text" class="form-control" data-ng-model="cost" id="cost" placeholder="Si tuvieras que ponerle precio al recurso, costaría">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.conditions.$invalid }">
                        <label mean-token="'create-conditions'" for="conditions" class="control-label">Condiciones</label>
                        <textarea name="conditions" data-ng-model="conditions" id="conditions" cols="30" rows="5" placeholder="Condiciones al postulante" class="form-control"></textarea>
                    </div>


                </div>

            </div>
            <div class="row">
                <button mean-token="'create-submit'" type="submit" class="center-block btn btn-success btn-lg">Listo!</button>
            </div>
        </form>
    <!--/div-->
      <ng-include src="'/partials/system/_preguntas-frecuentes.html'">
</div>

