<section data-ng-controller="ResourceController" data-ng-init="find()">

  <div class="convocatoria convocatoria--invert">
    <div class="convocatoria__wrapper">
      <article class="convocatoria__body">
        <h5 class="convocatoria__open">Convocatoria Abierta</h5>
        <h1 class="convocatoria__title">
          <a data-ng-href="#!/call/{{call._id}}">{{call.name}}</a>
        </h1>
        <p class="convocatoria__content">{{call.context}}</p>
        <div class="convocatoria__participantes">
          Paises participantes: 
          <span data-ng-repeat="scope in call.scopes">
            {{scope}}{{$last ? '' : ', '}}
          </span>
        </div>
      </article>
      <aside class="convocatoria__aside">
        <h3 class="convocatoria__subtitle">Participá</h3>
        <ul class="list" data-ng-repeat="reference in call.references">
          <li class="list__item">
            <a href="{{reference.url}}" class="list__link">{{reference.text}}</a>
          </li>
        </ul>
      </aside>
    </div>
    
    <div class="etapas">
      <h4 class="etapas__title">Etapas</h4>
      <ul class="tabs tabs--etapas tabs--form">


        <li class="tabs__item tabs__item--compartir" ng-class="{'tabs__item--active': currentPhase(call.stages.share_resource) == 'ACTIVE'}" >
        <span class="tabs__number">1</span>
        <h1 class="tabs__description">Comparte un recurso con el fondo</h1>

          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.share_resource) == 'FUTURE'">
            Comienza el {{call.stages.share_resource.start_date | moment: 'DD/MM/YYYY'}}
          </div>
          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.share_resource) == 'ACTIVE'">
            Hasta el {{call.stages.share_resource.end_date | moment: 'DD/MM/YYYY'}}
          </div>
          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.share_resource) == 'PAST'">
            Finalizó el {{call.stages.share_resource.end_date | moment: 'DD/MM/YYYY'}}
          </div>
          <a href="#!/resource/create" class="tabs__title">Compartir recursos</a>
        </li>

        <li class="tabs__item tabs__item--solicitar" ng-class="{'tabs__item--active': currentPhase(call.stages.apply_project) == 'ACTIVE'}" >
          <span class="tabs__number">2</span>
          <h1 class="tabs__description">Aplica a un recurso del fondo</h1>

          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.apply_project) == 'FUTURE'">
            Comienza el {{call.stages.apply_project.start_date | moment: 'DD/MM/YYYY'}}
          </div>
          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.apply_project) == 'ACTIVE'">
            Hasta el {{call.stages.apply_project.end_date | moment: 'DD/MM/YYYY'}}
          </div>
          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.apply_project) == 'PAST'">
            Finalizó el {{call.stages.apply_project.end_date | moment: 'DD/MM/YYYY'}}
          </div>
          <span class="tabs__title">Solicitar recursos</span>
        </li>


        <li class="tabs__item tabs__item--evaluar" ng-class="{'tabs__item--active': currentPhase(call.stages.evaluation) == 'ACTIVE'}" >
          <span class="tabs__number">3</span>
          <h1 class="tabs__description">Colabora evaluando y mejorando otros proyectos</h1>
          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.evaluation) == 'FUTURE'">
            Comienza el {{call.stages.evaluation.start_date | moment: 'DD/MM/YYYY'}}
          </div>
          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.evaluation) == 'ACTIVE'">
            Hasta el {{call.stages.evaluation.end_date | moment: 'DD/MM/YYYY'}}
          </div>
          <div class="tabs__fecha" 
            data-ng-if="currentPhase(call.stages.evaluation) == 'PAST'">
            Finalizó el {{call.stages.evaluation.end_date | moment: 'DD/MM/YYYY'}}
          </div>

          <span class="tabs__title">Evaluación y asignación</span>
        </li>


      </ul>

    </div><!--/.etapas-->

  </div><!--/.convocatoria-->

  <div class="big-panel big-panel--invert big-panel--arrow">
    <h4 class="big-panel__title">Solicita un recurso dispnible en el fondo</h4>
    <p class="big-panel__content">Gracias al aporte de las organizaciones participantes, ya contamos con un fondo común compuesto por valiosos recursos tanto monetarios como no monetarios.</p>
    <h5 class="big-panel__more">¿Cual de los siguientes recursos podría potenciar tu proyecto?</h5>
  </div>
  <div class="recursos recursos--detalle">
    <div class="big-panel">
      <h1 class="big-panel__title">Banco de recursos</h1>
    </div>
    <ul class="filters">
      <li class="filters__item"><a href="#" class="filters__title">Ver todas</a></li>
      <li class="filters__item"><a href="#" class="filters__title">Monetarios</a></li>
      <li class="filters__item filters__item--active">
        <a href="#" class="filters__title">Formación</a>
        <ul class="filters__sub-categories">
          <li class="filters__sub-item"><a href="#" class="filters__sub-title">Taller</a></li>
          <li class="filters__sub-item"><a href="#" class="filters__sub-title">Capacitación</a></li>
          <li class="filters__sub-item"><a href="#" class="filters__sub-title">Espacios</a></li>
          <li class="filters__sub-item"><a href="#" class="filters__sub-title">Mucho más largo que todos</a></li>
          <li class="filters__sub-item"><a href="#" class="filters__sub-title">Becas</a></li>
        </ul>
      </li>
      <li class="filters__item"><a href="#" class="filters__title">Paises</a></li>
      <li class="filters__item"><a href="#" class="filters__title">Espacios y Materiales</a></li>
    </ul>
    <ul class="lista-recursos">
      <li class="lista-recursos__item" data-ng-repeat="resource in resources">
        <h2 class="lista-recursos__title">
          <a data-ng-href="#!/resource/{{resource._id}}">{{resource.name}}</a>
        </h2>
        <figure class="lista-recursos__brand">
          <img src="/assets/img/brand.png" alt="brand">
        </figure>
        <p class="lista-recursos__content">
          <a href="/#!/project/create" class="btn btn-success lista-recursos__solicitar">Solicitar</a>
          <span>{{resource.created | date:'medium'}}</span> /
          <span>{{resource.user.name}}</span><br>
          {{resource.description}}
        </p>
        <div class="tags">
          <span class="tags__link">
            {{resource.resource_type}}
          </span>
        </div>
        <span data-ng-if="hasAuthorization(resource)">
          <a class="btn" href="/#!/resource/{{resource._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(resource);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
      </li>
    </ul>
    
    <h1><a href="/#!/resource/create">Compartes uno</a>?</h1>
  </div>
</section>
