<div data-ng-controller="ResourceListController" data-ng-init="loadData()">
    <div class="big-panel big-panel--invert  user-form--arrow">
        <p class="big-panel__content">Gracias al aporte de las organizaciones participantes, ya contamos con un fondo común compuesto por valiosos recursos tanto monetarios como no monetarios.</p>
        <h5 class="big-panel__more">¿Cual de los siguientes recursos podría potenciar tu proyecto?</h5>
    </div>

    <div class="recursos recursos--detalle">
        <div class="big-panel">
            <h1 class="big-panel__title">Banco de recursos</h1>
        </div>

        <ul class="filters">
            <li class="filters__item"><a ng-click="clearFilter()" class="filters__title" style="cursor:pointer">Ver todas</a></li>
            <li class="filters__item" ng-class="{'filters__item--active': (main_filter == selected_main_filter)}" ng-repeat="main_filter in parent_filters" >

                <a ng-click="selectMainFilter(main_filter)" class="filters__title"  style="cursor:pointer">{{main_filter.description}}</a>
                <ul class="filters__sub-categories">
                    <li class="filters__sub-item" ng-repeat="sfilt in sub_filters"><a ng-click="filter(sfilt)" class="filters__sub-title">{{sfilt.description}}</a></li>
                </ul>

            </li>
        </ul>

        <ul class="row lista-recursos recursos-isotope">
            <li class="col-md-3 col-lg-4 col-sm-1 lista-recursos__item {{tagsToClass(resource.tags)}}" data-ng-repeat="resource in resources">
                <h2 class="lista-recursos__title">
                    <a data-ng-href="#!/resource/{{resource.id}}">{{resource.name}}</a>
                </h2>
                <figure class="lista-recursos__brand">
                    <img ng-src="http://45.55.235.242/unsafe/232x154/smart/{{resource.image}}" alt="">
                </figure>
                <p class="lista-recursos__content">
                    <a ui-sref="call by id.project({ resourceId: resource.id })" class="btn btn-success lista-recursos__solicitar">Solicitar</a>
                    <span>{{resource.created_at | moment:'DD MMMM YYYY'}}</span> /
                    <span>{{resource.organization.name}}</span><br>
                    {{resource.description}}
                </p>
                <div class="tags">
                    <span class="tags__link" ng-repeat="tag in getTags(resource.tags_pretty)">{{tag}}</span>
                </div>
                <span data-ng-if="hasAuthorization(resource)">
                    <a class="btn" href="/#!/resource/{{resource.id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn" data-ng-click="remove(resource);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </span>
            </li>
        </ul>

    </div>
</div>
