
<div data-ng-controller="ProjectController"  data-ng-init="prepareRisingResource()">
    <form name="projectForm" class="user-form user-form--solicitar" role="form" data-ng-submit="create(projectForm.$valid)" novalidate>

        <div>
            <div class="recurso-solicitado">
                <h3 class="recurso-solicitado__title">Recurso solicitado</h3>
                <div class="media-box">
                    <figure class="media-box__image">
                        <img src=".jpg">
                    </figure>
                    <h4 class="media-box__title">Hospeda Cultura - 6 hospedajes de dos días en Brasil</h4>
                    <p class="media-box__content">Sed finibus lectus imperdiet, dictum mauris in, consectetur ligula. Duis eu nulla erat. Aliquam interdum, diam ac lacinia blandit, sem ante dapibus quam, ut laoreet felis sem et neque. Morbi vel suscipit odio. Donec lorem turpis, mattis ut luctus quis, mollis nec tortor. Nulla hendrerit quam id porttitor dictum.</p>
                </div>
            </div>




    <div class="recursos recursos--detalle">
        <div class="big-panel">
            <h3 class="big-panel__title">A cuál de los siguientes proyectos le asignarías el recurso?</h1>
        </div>
        <ul class="lista-recursos">
            <li class="lista-recursos__item" data-ng-repeat="resource in projects">
                <h2 class="lista-recursos__title">
                    <a data-ng-href="#!/resource/{{resource._id}}">{{resource.name}}</a>
                </h2>
                <figure class="lista-recursos__brand">
                    <img src="/assets/img/brand.png" alt="brand">
                </figure>
                <p class="lista-recursos__content">
                    <a ui-sref="call by id.project" class="btn btn-success lista-recursos__solicitar">Solicitar</a>
                    <span>{{resource.created | date:'medium'}}</span> /
                    <span>{{resource.user.name}}</span><br>
                    {{resource.description}}
                </p>
                <div class="tags">
                    <span class="tags__link">
                        {{resource.resource_type}}
                    </span>
                </div>
                <span data-ng-if="hasAuthorization(resource)">
                    <a class="btn" href="/#!/resource/{{resource._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn" data-ng-click="remove(resource);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </span>
            </li>
        </ul>

    </div>
</div>
