<div class="convocatoria"  data-ng-controller="ConvocatoriaProxy" data-ng-init="load()">
    <div class="convocatoria__wrapper">
        <article class="convocatoria__body">
            <h5 class="convocatoria__open">Convocatoria Abierta</h5>
            <h1 class="convocatoria__title">
                <a data-ng-href="#!/call/{{call.id}}">{{call.name}}</a>
            </h1>
            <p class="convocatoria__content">{{call.context}}</p>
            <div class="convocatoria__participantes">
                Paises participantes: 
                <span data-ng-repeat="scope in call.scopes">
                    {{scope}}{{$last ? '' : ', '}}
                </span>
            </div>
        </article>
        <aside class="convocatoria__aside">
            <!--h3 class="convocatoria__subtitle">Participá</h3-->
            <ul class="list">
                <li class="list__item" data-ng-repeat="reference in call.references">
                    <a href="/calls/{{reference.url}}/{{call.id}}" class="list__link">{{reference.name}}</a>
                </li>
            </ul>
            <h3 class="convocatoria__subtitle">Cronograma</h3>
            <ul class="list">
                <li class="list__item list__item--date">
                    Postulaciones Abiertas: {{call.stages.share_resource.start_date | moment: 'DD [de] MMMM [del] YYYY'}}</li>
                <li class="list__item list__item--date">
                    Anuncio asignaciones: {{call.stages.show_results.start_date | moment: 'DD [de] MMMM [del] YYYY'}}</li>
            </ul>

        </aside>
    </div>

</div>
