    <section data-ng-controller="CallController" data-ng-init="findOne()">

        <div class="convocatoria convocatoria--invert">
            <div class="convocatoria__wrapper">
                <article class="convocatoria__body">
                    <h5 class="convocatoria__open">Convocatoria Abierta</h5>
                    <h1 class="convocatoria__title">
                        <a data-ng-href="#!/call/{{call._id}}">{{call.name}}</a>
                    </h1>
                    <p class="convocatoria__content">{{call.context}}</p>
                    <div class="convocatoria__participantes">
                        Paises participantes: 
                        <span data-ng-repeat="scope in call.scopes">
                            {{scope}}{{$last ? '' : ', '}}
                        </span>
                    </div>
                </article>
                <aside class="convocatoria__aside">
                    <h3 class="convocatoria__subtitle">Participá</h3>
                    <ul class="list" data-ng-repeat="reference in call.references">
                        <li class="list__item">
                            <a href="/calls/{{reference.url}}/{{call._id}}" class="list__link">{{reference.name}}</a>
                        </li>
                    </ul>
                </aside>
            </div>
        
            <div class="etapas">
                <!--h4 class="etapas__title">Etapas</h4-->
                <ul class="tabs tabs--etapas tabs--form">
                    <li class="tabs__item tabs__item--compartir" ng-class="{'tabs__item--active': (share_resource == 'ACTIVE')}" ng-switch on="share_resource">
                        <div class="tabs__fecha" ng-switch-when="FUTURE">
                            Comienza el {{call.stages.share_resource.start_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <div class="tabs__fecha" ng-switch-when="ACTIVE">
                            Hasta el {{call.stages.share_resource.end_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <div class="tabs__fecha" ng-switch-when="PAST">
                            Finalizó el {{call.stages.share_resource.end_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <span class="tabs__number">1</span>
                        <a class="tabs__title" ui-sref=".share_resource">Compartir recurso</a>
                    </li>
                    <li class="tabs__item tabs__item--active tabs__item--solicitar" ng-class="{'tabs__item--active': ( apply_project == 'ACTIVE')}"  ng-switch on="apply_project">
                        <div class="tabs__fecha" ng-switch-when="FUTURE">
                            Comienza el {{call.stages.apply_project.start_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <div class="tabs__fecha" ng-switch-when="ACTIVE">
                            Hasta el {{call.stages.apply_project.end_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <div class="tabs__fecha" ng-switch-when="PAST">
                            Finalizó el {{call.stages.apply_project.end_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <span class="tabs__number">2</span>
                        <a class="tabs__title" ui-sref=".apply_project">Solicitar recursos</a>
                    </li>

                    <li class="tabs__item tabs__item--evaluar" ng-class="{'tabs__item--active': (evaluation == 'ACTIVE')}"  ng-switch on="evaluation">
                        <div class="tabs__fecha" ng-switch-when="FUTURE">
                            Comienza el {{call.stages.evaluation.start_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <div class="tabs__fecha" ng-switch-when="ACTIVE">
                            Hasta el {{call.stages.evaluation.end_date | moment: 'DD/MM/YYYY'}}
                        </div>
                        <div class="tabs__fecha" ng-switch-when="PAST">
                            Finalizó el {{call.stages.evaluation.end_date | moment: 'DD/MM/YYYY'}}
                        </div>

                        <span class="tabs__number">3</span>
                        <a class="tabs__title" ui-sref=".evaluation">Evaluación y Asignación</a>
                    </li>

                </ul>
            </div><!--/.etapas-->

        </div><!--/.convocatoria-->

        <!-- nested view -->
        <div ="container">

            <div ui-view></div>

        </div>

    </section>
