/*******************************************RESPONSIVE 480 START*******************************************/
@media (max-width: 480px) {
body {
	padding: 0;
}
.top_bar ul {
	padding: 0 10px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
}
.social li {
	float: none;
}
h1#logo {
	margin: 0;
	text-align: center;
}
.countdown_section {
	float: none;
}
.countdown_row {
	display: block;
	text-align: center;
}
#nav .navbar {
	width: 100%;
}
.switcher h2 a {
	top: -20px !important;
}
#nav {
	z-index: 9999 !important;
}
#banner_slider li div p {
	font-size: 16px;
	line-height: 17px;
	padding: 10px 5px;
}
#banner_slider li div {
	max-width: 100%;
	top: 10px;
	left: 10px;
}
.nav_search {
	width: 100%;
	margin-bottom: 10px;
}
.nav_search form input[type="text"], #shop_slider img, #slider_blog img {
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
	color: #fff;
}
.mbtm, .feature {
	margin-bottom: 20px;
}
#donation_box {
	width: 100%;
	padding: 0 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
#donation_box h2 {
	font-size: 16px;
	margin-bottom: 10px;
}
#donation_box button {
	margin-left: 17px;
}
#charity_progress h3 {
	font-size: 18px;
}
#charity_progress .info .first {
	float: left;
	width: auto;
}
#charity_progress .info {
	padding: 5px;
}
#news {
	padding: 0 10px;
}
#news .bx-controls-direction {
	right: 10px;
}
.img_holder {
	margin-bottom: 10px;
}
#news .title {
	font-size: 12px;
	padding: 0 0 10px 0;
}
#video_slider {
	padding: 0 10px;
}
#events_videos h2 {
	font-size: 25px;
	margin: 0;
}
#events_videos h2 span {
	display: inline;
}
#events_videos .video_slider_container {
	margin-top: 10px;
}
#events_videos {
	padding: 20px 0 0 0;
}
#news_accordion {
	padding: 0 10px;
}
#accordion_news .title {
	text-align: center;
}
#accordion_news .datem {
	padding-bottom: 0;
}
#accordion_news .img {
	margin-bottom: 10px;
}
#blog_store #blog, #blog_store #shop {
	padding: 10px;
}
.content {
	margin: 10px 0 0 0;
}
.mtp {
	margin-top: 140px;
}
#banner_rounded h3 {
	font-size: 12px !important;
}
#banner_rounded h3 span {
	font-size: 14px;
}
#banner_rounded {
	right: -19px;
	top: -89px;
	height: auto;
	padding: 14px;
}
#footer_main {
	padding: 0 10px;
}
#footer .footer_2 {
	padding: 0 10px;
	text-align: center;
}
#socialicons {
	text-align: center;
	margin: 10px 0 10px 0;
}
#socialicons > a {
	float: none;
}
#footer .footer_3 {
	padding: 30px 10px;
}
.footer_nav {
	display: block;
	text-align: center;
}
.footer_nav li {
	margin-bottom: 10px;
}
.footer_3 #latest_tweets li {
	width: 89%;
}
#shop_slider img, #slider_blog img {
	width: 100%;
	height: auto;
}
#donation_box {
	padding: 0 10px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.breadcrumb {
	text-align: center;
}
.p404 form input[type="text"] {
	width: 100%;
	font-size: 9px;
}
.p404 form {
	position: relative;
}
.p404 form button {
	position: absolute;
	right: 0;
	top: 0;
}
.listing_404 {
	padding: 0 10px;
}
#offices_slider_warpper {
	padding: 0 10px;
}
.team_member {
	margin: 0 0 20px 0;
}
.pagination ul {
	width: 100%;
	text-align: center;
}
.pagination ul li {
	display: inline-block;
}
#sidebar .events {
	padding: 0 10px;
}
#sidebar .events .img {
	margin: 0 0 10px 0;
}
#sidebar .recent_comments {
	padding: 0 10px;
}
.slider_products {
	padding: 0 10px;
}
#sidebar .latest_tweets, #sidebar .tags, #sidebar .post_archives {
	padding: 0 10px;
}
#blog_post_detail {
	padding: 0 10px;
}
#author_bio .inner {
	padding: 18px 10px;
}
#author_bio .author_Summary {
	border: 0;
}
.author_Summary img, .view_posts {
	margin: 0 0 10px 0;
}
#comments li .img img, #comments ul {
	width: 100%;
	margin: 0;
	height: auto;
}
#comments_form input {
	height: 30px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
#comments_form i {
	right: 10px;
}
#comments_form input {
	margin: 0 0 20px 0;
}
#sidebar {
	float: left;
}
#sidebar .widget {
	padding: 0 10px;
}
#blog_post_detail {
	width: 100%;
}
.horizontal_tabs_wrapper {
	padding: 0 10px;
}
.cart_btn_wrapper a {
	float: none;
	display: table;
	margin: 0 auto 5px;
}
.billing-form input[type="text"] {
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.billing-form select {
	width: 100%;
}
.contact_us {
	padding: 0 10px;
}
#icon_toggle {
	text-align: center;
}
.fund_rasising_listing {
	padding: 0 10px;
}
#tiers span {
	padding: 28px 20px;
}
#category_image #charity_progress {
	bottom: -185px;
}
#charity_payment {
	margin: 200px 0 0;
}
.crowd_fund input[type="text"], #charity_payment textarea {
	width: 100%;
	max-width: 100%;
}
#content {
	padding: 0 10px;
}
.faq_accordion .toggle_faq {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.faq_accordion h3, .faq_accordion .accordion-body {
	width: 100%;
}
.billing-form input[type="text"] {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.dropdown .inner, .inner_lyr {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.fc-header td{
	float:left;
}
.n_social{
	margin:20px 0;
}
#social_follow{
	margin:20px 0 0 0;
}
.mtop{
	padding:0 10px;
}
#portfolio-item-filter{
	text-align:center;
}
#banner_slider li div p{
	font-size:18px;
	line-height:35px;
}
.page_title{
	padding:20px 10px;
}
#product_image{
	margin:0 0 20px 0;
}
#n_social.product_detail_social a{
	float:none;
	display:inline-block;
}
.product_detail_social{
	text-align:center;
	margin:10px 0;
}
#proudct_options{
	padding:20px;
}
#product{
	margin:0 0 20px 0;
}
.the-icons li{
	width:100%;
}
}
/*******************************************RESPONSIVE 480 END*******************************************/



/*******************************************RESPONSIVE 767 START*******************************************/
@media (max-width: 767px) {
.top_bar {
	padding: 20px 10px;
}
.top_bar ul {
	text-align: center;
}
.social li {
	float: none;
}
h1#logo {
	margin: 0;
	text-align: center;
}
.countdown_section {
	float: none;
}
.hasCountdown, .tCountdOwn {
	text-align: center;
}
#nav .navbar {
	width: 100%;
	position: relative;
	z-index: 9999 !important;
}
.nav_search {
	margin: 10px 0;
	padding: 0 10px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.nav_search form input[type="text"] {
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
#banner_slider li div {
	max-width: 100% !important;
	top: 30px;
	left: 30px;
}
#banner_slider li div p {
	font-size: 35px;
}
#ngo_features {
	padding: 0 10px;
}
.switcher {
	display: none;
}
#events_videos .video {
	width: 100%;
	margin: 0 0 20px 0;
}
#events_videos .video iframe {
	width: 100%;
}
#socialicons {
	display: block;
}
.footer_3 .footer_left p {
	margin: 0 0 0 20px;
}
#donation_box, .accordion-group {
	width: 100%;
	padding: 0 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.faq_accordion .toggle_faq {
	width: 100%;
	margin: 0;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.faq_accordion h3, .faq_accordion .accordion-body {
	width: 100%;
}
#blog_post_detail {
	padding: 0 10px;
}
.author_Summary img, .view_posts {
	margin: 0 0 20px 0;
}
#comments li .img img {
	width: 100%;
	margin: 0;
	height: auto;
}
#comments ul {
	width: 100%;
}
#comments_form input[type="submit"] {
	margin: 0 0 20px 0;
}
#comments_form textarea {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
#sidebar .widget {
	float: left;
	width: 100%;
	padding: 0 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.horizontal_tabs_wrapper, #offices_slider_warpper {
	padding: 0 10px;
}
#contact_form, #contact_info, .footer_1 {
	padding: 0 10px;
}
#footer .footer_2 {
	padding: 5px 10px;
}
.form textarea {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.footer_left {
	margin: 10px 0;
	text-align: center;
}
#socialicons > a {
	float: none;
}
#socialicons {
	text-align: center;
}
.contact_us {
	padding: 0 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.listing_404{
	padding:0 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
#blog_listing{
	padding:0 10px;
}
#author_bio .author_Summary{
	border:0;
}
#comments_form input{
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	height:30px;
}
#comments_form i{
	right:10px;
}
#progress_news{
	padding:0 10px;
}
#charity_progress, #img_holder{
	margin:0 0 20px 0;
}
#events_videos, #blog_store{
	padding:0 10px;
}
#accordion_news .accordion-heading a{
	text-align:center;
}
#shop_slider img, #slider_blog img{
	width:100%;
	margin:0 0 20px 0;
}
#fund_project_detail, .fund_rasising_listing{
	padding:0 10px;
}
.n_social{
	margin:20px 0;
}
.mtop{
	padding:0 10px;
}
#portfolio-item-filter{
	text-align:center;
}
.gallery-page{
	padding:0 10px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.gallery{
	padding:0 10px;
}
.product_detal{
	padding:0 10px;
}
#product_info{
	margin:20px 0 0 0;
}
.product_detail_social{
	text-align:center;
	display:block;
	width:100%;
	margin:0 0 20px 0;
}
#n_social.product_detail_social a{
	float:none;
	display:inline-block;
}
.product_grid{
	padding:0 10px;
}
#product{
	margin:0 0 20px 0;
}
.product_description a.btn{
	margin:0 0 20px 0;
}
.shortcodes{
	padding:0 10px;
}
#posts img{
	margin:0 0 20px 0;
}
.mbtm{
	padding:0 10px;
}
}
/*******************************************RESPONSIVE 767 END*******************************************/

/*******************************************RESPONSIVE 768 and 979 START*******************************************/
@media (min-width: 768px) and (max-width: 979px) {
.top_bar .row-fluid .offset2 {
	margin: 0;
	float: none;
	width: 100%;
}
#nav .navbar {
	width: 100%;
}
.nav_search {
	width: 100%;
	margin: 10px 0;
}
.nav_search form input[type="text"] {
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
#banner_slider li div {
	top: 20%;
}
#donation_box .span2 {
	width: auto !important;
}
#charity_progress .img {
	width: 100%;
}
.progress_report, .img_holder, .ns_desc, .img, .content {
	width: 100% !important;
}
#events_videos .video_slider_container {
	margin: 10px 0 0 0;
	width: 100%;
}
#accordion_news .accordion-heading {
	padding: 0 0 0 10px;
}
#accordion_news .inactive .datem {
	font-size: 23px;
}
#accordion_news .inactive .title {
	font-size: 14px;
}
#accordion_news .title {
	padding: 12px 0 0 0;
}
#footer .widget {
	width: 100%;
}
#footer .v-a {
	margin-bottom: 10px;
}
.footer_2 .footer_left {
	padding: 10px 0 0 0;
}
#sidebar, #blog_listing {
	width: 100% !important;
	margin: 0;
}
#fund_project_detail, #fund_rasising_listing {
	width: 100%;
}
#blog_post_detail, #comments ul, #event_listing {
	width: 100%;
}
#comments li .img img, #comments .inner {
	width: 100%;
	margin: 0;
}
.billing-form li .controls {
	float: left;
	width: 100%;
}
.img{
	margin:0 0 20px 0;
}
#donation_box button{
	margin-top:10px;
}
#img_holder{
	width:100%;
	margin:0 0 20px 0;
}
#accordion_news .title{
	font-size:20px;
	text-align:center;
}
#shop_slider img, #slider_blog img{
	width:100%;
}
#project_contet{
	float:left;
}
#portfolio-item-filter{
	text-align:center;
}
#proudct_options input, #proudct_options select, #proudct_options textarea{
	width:100%;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
#product_grid{
	width:100%;
}
#product_list{
	width:100%;
}
}
/*******************************************RESPONSIVE 768 and 979 END*******************************************/
