<div class="container">
    <section>
        <section class="row-fluid">
            <!-- BreadCrumbs -->
                <figure id="breadcrumbs" class="span12">
                    <ul class="breadcrumb">
                    <li><a href="#/">Inicio</a> <span class="divider">/</span></li>
                    <li class="active">Campaña</li>
                    </ul>
                </figure>
            <!-- End of breadcrumbs -->
        </section>


        <section class="container-fluid container">
            <section class="row-fluid">
                <section id="donation_box">
                    <section class="container container-fluid">
                    <section class="row-fluid">
                        <div class="span8 first"> <h2> {{call.name}} </h2> </div>
                    </section>
                </section>
            </section>		<!-- end of Page Title -->
        </section>
    </section>



<section id="content" class="mbtm fund_rasising_listing">
    <section class="container-fluid container">
	
        <section class="row-fluid">
			
            <section class="span9 fund_project_detail" id="fund_project_detail">  
					
                <figure class="span12 first outer_lyr" id="category_image"> 
						
                    <img ng-src="http://images.dev-winwins.net/799x265/{{call.image}}" alt="{{call.name}}" />
                    <figure class="span12 first fund_project" id="charity_progress">
 							
                        <div class="span12 first">
                            <span class="current_collection">   </span>
						
                            <h4>  </h4>
						
						 
                             <div class="info"> 
									<div class="span3 first">
									</div>
									
									<div class="span4 first">
									</div>
									
									<div class="span2 first">
									</div>
									
									<div class="span3" id="dayz">
										<i class="icon-calendar-empty"></i> {{call.end_date | leftdays}}
									</div>
									
							  </div>
						
						</div>							
						
					</figure>
				
                </figure>
                <figure class="span12 first outer_lyr" id="project_contet">
                        <div class="inner_lyr">
                            <p> {{call.context}}</p>
                        </div>
                </figure>
                
                <figure class="span12 first">
                        <span class="btns tier_button" ng-click="show_resource_form()"> Ofrecer Recurso</span>
                </figure>



                    <form name="resourceForm" class="" role="form" data-ng-submit="create_resource(resourceForm.$valid)" novalidate>
                        <section id="create_resource" class="mbtm" ng-show="editing_resource">
                            <div class="row-fluid crowd_fund">
                                <div class="span6">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.resource_type.$invalid }">
                                        <label class="control-label">Tipo de Recurso</label>
                                        <select id="tags" multiple="multiple" name="tags" type="text" class="form-control" data-ng-model="resource.tags" placeholder="Caracterísiticas del Recurso" ng-options="ress.description for ress in resourceTypes"> </select>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.name.$invalid }">
                                        <label class="control-label">Nombre</label>
                                        <input name="name" type="text" class="form-control input-xlarge span12" data-ng-model="resource.name" id="name" placeholder="Nombre" required>
                                        <div ng-show="submitted && resourceForm.name.$invalid" class="help-block">
                                            <p ng-show="resourceForm.name.$error.required">Nombre es requerido</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.cost.$invalid }">
                                        <label class="control-label">Costo</label>
                                        <input name="cost" type="text" class="form-control input-xlarge span12" data-ng-model="resource.cost" id="cost" placeholder="Si tuvieras que ponerle precio al recurso, costaría">
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.conditions.$invalid }">
                                        <label for="conditions" class="control-label">Condiciones</label>
                                        <textarea name="conditions" data-ng-model="resource.conditions" id="conditions" cols="30" rows="5" placeholder="Condiciones al postulante" class="form-control input-xlarge span12"></textarea>
                                    </div>


                                </div>

                                <div class="span12">
                                        <div class="form-group" ng-class="{ 'has-error' : submitted && resourceForm.description.$invalid }">
                                        <label for="description" class="control-label">Descripcion</label>
                                        <textarea name="description" data-ng-model="resource.description" id="description" rows="10" placeholder="Descripcion" class="form-control span12 input-xlarge" required></textarea>
                                        <div ng-show="submitted && resourceForm.description.$invalid" class="help-block">
                                            <p ng-show="resourceForm.description.$error.required">Descripcion es requerido</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row-fluid">
                                <button type="submit" class="tier_button btns pull-right" >Ofrecer!</button>
                            </div>

                        </section>
                    </form>








                    <section id="ngo_features" class="mbtm">

                            <section class="row-fluid">
                            
                                <figure ng-repeat="resource in call.resources" class="span3 feature" ng-click="view_resource(resource)" style="cursor: pointer;">
                                    <div class="ftr_img f-img-2"> 
                                        <span class="img"> {{resource.name}}</span>
                                    </div>
                                    <div class="ftr_txt">
                                        <strong> {{resource.name}}</strong>
                                    </div>
                                </figure>
                                
                            </section>
                    </section>


			</section>
				
				
			<section id="sidebar" class="span3">
							
                <figure class="widget social_follow">
                    
                    <div id="social_follow">
                        <span class="social_fb"> <i class="icon-facebook"></i> <em> 5678 Folowers </em> </span>
                        <span class="social_twitter"> <i class="icon-twitter"></i> <em> 5678 Folowers</em> </span>
                    </div>
                        
                </figure>
                
            
                <!--figure class="widget latest_tweets">
                
                    <h3> <i class="icon-twitter"></i> Tweets a #{{call.twitter_hashtag}}</h3>
                    
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/{{call.twitter_hashtag}}" data-widget-id="646229543154487296">Tweets sobre #{{call.twitter_hashtag}}</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                
                </figure-->
            
                <figure class="widget tags">
                    <h3> <i class="icon-tags"></i> Tags </h3>
                    <ul id="tags">
                        <li> <a href="#"> charity </a> </li>
                        <li> <a href="#"> donate </a> </li>
                        <li> <a href="#"> donations </a> </li>
                        <li> <a href="#" class="active"> give </a> </li>
                        <li> <a href="#"> giving </a> </li>
                        <li> <a href="#"> non-profit </a> </li>
                        <li> <a href="#"> volunteer </a> </li>
                    </ul>
                
                </figure>
    
			</section>
 
		</section>
	</section>
</div>
