<div class="container">

    <section>
        <section class="row-fluid">
            <!-- BreadCrumbs -->
                <figure id="breadcrumbs" class="span12">
                    <ul class="breadcrumb">
                    <li><a href="#/">Inicio</a> <span class="divider">/</span></li>
                    <li class="active">Campañas</li>
                    </ul>
                </figure>
            <!-- End of breadcrumbs -->
        </section>


    </section>



    <section id="content" class="mbtm fund_rasising_listing">
        <section class="container-fluid container">
        
            <section class="row-fluid">
                
                <section class="span12 fund_rasising_listing" id="fund_rasising_listing">  
                        
                        <figure class="span12 first outer_lyr" id="category_image"> 
                            
                            <img src="images/bancame/slider/799x265_1.jpg" alt="Crowd Funding" />

                        
                        </figure>


                        <section class="container-fluid contaissner">
                            <section class="row-fluid">
                                <section id="donation_box">
                                    <section class="container container-fluid">
                                    <section class="row-fluid">
                                        <div class="offset2 span8"> 
                                            <input type="text" class="input-xxlarge" placeholder="Búsqueda..."/> 
                                        </div>
                                    </section>
                                    <section class="row-fluid">
                                        <ul class="span10 offset1" id="tags">
                                            <li> <a href="#" class="active"> compartiendo </a> </li>
                                            <li> <a href="#"> aplicando </a> </li>
                                            <li> <a href="#"> brasil </a> </li>
                                            <li> <a href="#"> argentina</a> </li>
                                            <li> <a href="#"> bolivia</a> </li>
                                            <li> <a href="#"> venezuela</a> </li>
                                        </ul>
                                    </section>
 


                                </section>
                            </section>	
                        </section>

                        
                        <figure class="span12 first" id="category_title">
                                <div class="span10 first"> <h3> Campañas Activas </h3>	</div>
                        </figure>
                        
                        <section class="span12 first projects_holder">
                            
                            <section class="span4 first fund_project text-center" id="charity_progress">
                                <img src="images/crowd_funding_1.jpg" alt="Fund Featured Image" />
                                <a ui-sref="campaign"> <span class="current_collection">  {campaña title} </span></a>
                                <h4> {campaña description} </h4>
                            
                                <div class="info"> 
                                    <div class="span6 first">
                                        <span> 147 </span> Recursos 
                                    </div>

                                    <div class="span6">
                                        <span> 204 </span> Días restantes
                                    </div>

                                </div>
                                  
                            </section>

                            <section class="span4 first fund_project text-center" id="charity_progress">
                                <img src="images/crowd_funding_1.jpg" alt="Fund Featured Image" />
                                <a ui-sref="campaign"> <span class="current_collection">  {campaña title} </span></a>
                                <h4> {campaña description} </h4>
                            
                                <div class="info"> 
                                    <div class="span6 first">
                                        <span> 147 </span> Recursos 
                                    </div>

                                    <div class="span6">
                                        <span> 204 </span> Días restantes
                                    </div>

                                </div>
                                  
                            </section>

                            <section class="span4 first fund_project text-center" id="charity_progress">
                                <img src="images/crowd_funding_1.jpg" alt="Fund Featured Image" />
                                <a ui-sref="campaign"> <span class="current_collection">  {campaña title} </span></a>
                                <h4> {campaña description} </h4>
                            
                                <div class="info"> 
                                    <div class="span6 first">
                                        <span> 147 </span> Recursos 
                                    </div>

                                    <div class="span6">
                                        <span> 204 </span> Días restantes
                                    </div>

                                </div>
                                  
                            </section>

                            <section class="span4 first fund_project text-center" id="charity_progress">
                                <img src="images/crowd_funding_1.jpg" alt="Fund Featured Image" />
                                <a ui-sref="campaign"> <span class="current_collection">  {campaña title} </span></a>
                                <h4> {campaña description} </h4>
                            
                                <div class="info"> 
                                    <div class="span6 first">
                                        <span> 147 </span> Recursos 
                                    </div>

                                    <div class="span6">
                                        <span> 204 </span> Días restantes
                                    </div>

                                </div>
                                  
                            </section>



                            <hr />			
                        </section>
                    
            
            </section>
        </section>
    </section>

</div>
