<div class="container">
    <section>
        <section class="row-fluid">
            <!-- BreadCrumbs -->
                <figure id="breadcrumbs" class="span12">
                    <ul class="breadcrumb">
                    <li><a ui-sref="home">Inicio</a> <span class="divider">/</span></li>
                    <li class="active">Crear Campaña</li>
                    </ul>
                </figure>
            <!-- End of breadcrumbs -->
        </section>


        <section class="container-fluid container">
            <section class="row-fluid">
                <section id="donation_box">
                    <section class="container container-fluid">
                    <section class="row-fluid">
                        <div class="span8 first"> <h2> Crear Campaña</h2> </div>
                    </section>
                </section>
            </section>		<!-- end of Page Title -->
        </section>
    </section>



    <section id="content" class="mbtm fund_rasising_listing">
        <section class="container-fluid container">
        
            <section class="row-fluid" style="margin-top: 20px;">
                
                        
                <form name="callForm" class="" role="form" data-ng-submit="create(callForm.$valid)" novalidate>
                    <section class="span12 fund_project_detail" id="fund_project_detail">  
                        <div class="row">
                            <div class="offset1 span10">

                                <div class="form-group span12" ng-class="{ 'has-error' : submitted && callForm.name.$invalid }">
                                    <label class="span3 control-label">Nombre</label>
                                    <div class="span9">
                                        <input name="name" type="text" class="form-control span12" data-ng-model="call.name" id="name" placeholder="Nombre" required>
                                    </div>
                                </div>
                                <div class="form-group span12" ng-class="{ 'has-error' : submitted && callForm.context.$invalid }">
                                  <label class="span3 control-label">Contexto</label>
                                  <div class="span9">
                                    <textarea name="context" data-ng-model="call.context" id="context" cols="60" rows="10" placeholder="Contexto" class="form-control span12" required></textarea>
                                  </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : submitted && callForm.scopes.$invalid }">
                                    <label class="span3 control-label">Paises</label>
                                    <div class="span9">
                                        <select id="countries" multiple="multiple" name="countries" type="text" class="form-control" data-ng-model="call.countries" placeholder="Países" ng-options="country.description for country in countries"> </select>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="border-top: 1px solid #ccc;">
                            <div class="span6">
                                <div class="page-header">
                                    <h3>Etapas</h3>
                                </div>
                                
                                <div class="form-group span12" ng-class="{ 'has-error' : submitted && callForm.share_resources.$invalid }">
                                    <label class="span3 control-label">Compartir Recursos</label>
                                    <div class="span6 input-group ">
                                        <span class="input-group-addon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        <input name="share_resources" date-range-picker class="form-control date-picker" type="text" />
                                    </div>
                                </div>
                                <div class="form-group span12" ng-class="{ 'has-error' : submitted && callForm.apply_resources.$invalid }">
                                    <label class="span3 control-label">Aplicar Proyectos</label>
                                    <div class="span6 input-group ">
                                        <span class="input-group-addon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                        <input name="apply_resources" date-range-picker class="form-control date-picker" type="text"/>
                                    </div>
                                </div>

                            </div>
                            <div class="span6">
                                <div class="page-header">
                                    <h3>Referencias</h3>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : submitted && callForm.context.$invalid }">
                                    <label for="bases" class="span3 control-label">Bases y Condiciones</label>
                                    <div class="span9">
                                        <textarea name="context" data-ng-model="call.bases" id="bases" cols="30" rows="4" placeholder="Sumario" class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : submitted && callForm.context.$invalid }">
                                    <label for="criterios" class="span3 control-label">Criterios Evaluación</label>
                                    <div class="span9">
                                        <textarea name="context" data-ng-model="call.criterios" id="criterios" cols="30" rows="4" placeholder="Criterios" class="form-control"></textarea>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row" style="border-top: 1px solid #ccc; padding-top: 20px;">
                            <div class="form-group">
                              <div class="offset4 span2">
                                <span class="btn btn-default" ng-click="cancel()">Cancelar</span>
                              </div>
                              <div class="offset1 span2">
                                <button type="submit" class="btn btn-info">Guardar</button>
                              </div>
                            </div>
                        </div>


                </section>

            </form>
                    
        </section>
    </section>
</div>
