<div class="container">
    <section>
        <section class="row-fluid">
            <figure id="breadcrumbs" class="span12">
                <ul class="breadcrumb">
                <li><a href="#/">Inicio</a> <span class="divider">/</span></li>
                <li class="active">Contacto</li>
                </ul>
            </figure>
        </section>


        <section class="container-fluid container">
            <section class="row-fluid">
                <section id="donation_box">
                    <section class="container container-fluid">
                    <section class="row-fluid">
                        <div class="span8 first"> <h2> CONTACTO</h2> </div>
                    </section>
                </section>
            </section>		
        </section>
    </section>



<!-- Page Content Container -->
<section id="content" class="mbtm contact_us">
	<section class="container-fluid container">
			<section class="row-fluid">
			
			<section id="contact_form" class="span6 form">
                <h3> Formulario de Contacto </h3>
                <p>Gracias por visitarnos. Completa el formulario para solicitar información acerca de Bancame. Cuando haya terminado, haga clic en el botón "Enviar" para enviar el mensaje.</p> 
                
                <form method="post" action="contact.php" class="span10">
                    <input type="text" placeholder="Nombre" name="name" required/>
                    <input type="email" placeholder="Email" name="email" required />
                    <textarea name="comments" cols="10" rows="10" required placeholder="Ingrese su mensaje aquí"> </textarea>
                    <input type="submit" class="btns" value="Enviar" name="submit" />
                </form>
			</section>
		
			<section id="contact_info" class="span6 contact_info">
			<h3> Información de Contacto</h3>



			
			<figure class="span12 first"> <i class="icon-envelope-alt"></i> informacionminka@gmail.com </figure>
			
			<figure class="span12 first"> <i class="icon-mobile-phone"></i> (54) 11-3096-5308</figure>
				
            <figure class="span12 first"> 
                <div class="span6 fisrt">
                    <i class="icon-map-marker"></i> 
                    Buenos Aires, Argentina 
                </div>
            </figure>
 

				<figure id="n_social" class="span12 first"> 
				
					<a href="#"> <i class="icon-facebook"></i> </a> 
					<a href="#"> <i class="icon-twitter"></i> </a> 
					<a href="#"> <i class="icon-google-plus"></i> </a> 
					<a href="#"> <i class="icon-linkedin"></i> </a> 
					<a href="#"> <i class="icon-pinterest"></i> </a> 
					
				
				</figure>
				
			</section>
		
			</section>
		</section>
	
	</section>

</div>
