<section class="banner_slider mbtm">
    <ul id="banner_slider">
        <li> 
            <img src="http://images.dev-winwins.net/1500x617/filters:grayscale()/bancame_slider_1.jpg" alt="Bancame Aceleradora" />
            <div class="slider_content"> 
                <p class="b_dark"> Bancame es...</p>
                <span class="clear"></span>
                <p class="b_green">la primera aceleradora de redes de américa latina</p>
            </div> 
        </li>
        
        <li> 
            <img src="http://images.dev-winwins.net/1500x617/filters:grayscale()/bancame_slider_2.jpg" alt="Bancame Red" />
            <div class="slider_content"> 
                <p class="b_dark"> Bancame es...</p>
                <span class="clear"></span>
                <p class="b_green">una red de economía colaborativa</p>
            </div> 
        </li>
        <li> 
            <img src="http://images.dev-winwins.net/1500x617/filters:grayscale()/bancame_slider_3.jpg" alt="Bancame Soluciones" />
            <div class="slider_content"> 
                <p class="b_dark"> Bancame es...</p>
                <span class="clear"></span>
                <p class="b_green">un banco de soluciones</p>
            </div> 
        </li>
    </ul>
</section>
<!-- End of Header Banner -->
<div class="container">

    <!-- Start of Donation Box -->
    <section id="donation_box" class="mbtm">
        <section class="container container-fluid">
            <section class="row-fluid">
                <figure class="span9">
                    <h2> 
                        Conocé nuestros mecanismos de <strong>transparencia</strong> y <strong> participación</strong>

                    </h2>
                </figure>
                <figure class="span3">
                    <a ui-sref="faq" data-placement="top" data-rel="tooltip" class="btn tier_button btns btn-large">Ver Más</a>
                </figure>
            </section>
        </section>
    </section>
    <!-- End of Donation Box -->

    <!-- Start of Charity News & Progress Section -->
    <section id="progress_news" class="mbtm">
        <section class="container-fluid container">
            <section class="row-fluid">
            
                <figure class="span6 first" id="charity_progress">
                    <h3> Campaña Destacada! </h3>
                    <div id="charity_process_inner">
                        <div class="span5 img first">
                            <img src="images/progress_image.jpg" alt="Charity Hospital" />
                        </div>
                        <div class="span7 progress_report">
                        <h2> {titulo campaña} </h2>
                        <h4> Descripcion de la campañan con un texto abreviado</h4>
                              <br />
                              <div class="info"> 
                                    <div class="span6 first">
                                        <span> 47 </span> Recursos
                                    </div>
                                    
                                    <div class="span6 ntr">
                                        en <span> 204 </span> días
                                    </div>
                                    
                              </div>
                              
                        </div>
                    </div>
                </figure>

                <figure class="span6" id="news">
                        
                        <ul id="news_slider">
                        
                        <li> 
                            <div class="span5 first img_holder"> 
                                <div class="img">
                                <img src="images/slider_2_img.jpg" alt="" /> 
                                </div>
                                <div class="img_title"> 
                                <a ui-sref="campaign"> <i class="icon-plus"></i> </a>
                                <a ui-sref="campaign"> Katrina  disasters </a> 
                                <p> News about Katrina victams </p>
                                </div>
                            </div>
                            <div class="span7 ns_desc" > 
                            <a ui-sref="campaign" class="title"> Campaña Semi Destacada <span class="h-line"></span> </a> 
                            <p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
                            <a  ui-sref="campaign" class="rm"> Ver más <i class="icon-plus"></i></a>
                            </div> 
                        </li>

                        
                        <li> 
                            <div class="span5 first img_holder"> 
                                <div class="img">
                                <img src="images/slider_2_img.jpg" alt="" /> 
                                </div>
                                <div class="img_title"> 
                                <a href="#"> <i class="icon-plus"></i> </a>
                                <a href="#"> Katrina  disasters </a> 
                                <p> News about Katrina victams </p>
                                </div>
                            </div>
                            <div class="span7 ns_desc" > 
                            <a href="#" class="title"> City destroyed after devastating Katrina Floods  <span class="h-line"></span> </a> 
                            <p> News of charity campaigns lorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at... </p>
                            <a href="#" class="rm"> View All News &nbsp;   <i class="icon-plus"></i></a>
                            </div> 
                        </li>


                        </ul>
                
                </figure>
                
            </section>
        </section>
    </section>

    <section class="container-fluid container">
        
        <section class="row-fluid">
            <figure class="span12 first outer_lyr" id="category_image"> 
                <img src="http://images.dev-winwins.net/799x265/filters:grayscale()/home_puzzle.jpg" alt="Bancame Convocatorias" />
            </figure>
        </section>

        <section class="row-fluid">
                
            <section class="span6 fund_rasising_listing" id="fund_rasising_listing">  
            
                        
                <figure class="span12 first" id="category_title">
                    <div class="span10 first"> <h3> OFRECE </h3>	</div>
                </figure>
                        
                <section class="span12 first projects_holder">
                            
                    <section class="span6 first fund_project" id="charity_progress">
                        <img src="images/crowd_funding_1.jpg" alt="Fund Featured Image" />
                        <span class="current_collection">{campaign title}  </span>
                        <div class="info"> 
                            <div class="span6 first">
                                <span> 147 </span> Recursos
                            </div>

                            <div class="span6">
                                en <span> 204 </span> días
                            </div>

                        </div>

                    </section>
                    <hr />			
                </section>
                    
            </section>

            <section class="span6 fund_rasising_listing" id="fund_rasising_listing">  
            
                <figure class="span12 first" id="category_title">
                    <div class="span10 first"> <h3> SOLICITA </h3>	</div>
                </figure>
                <figure class="span12" id="news_accordion">
                    <div class="accordion" id="accordion_news">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_news" href="#co">
                                    <span class="datem span3 first"> 05/22 </span>
                                    <span class="title span8"> {campaign title}
                                        <span class="location_date"> 
                                                <span class="date"> 	<i class="icon-time"></i>		May22, 2013	 </span>
                                        </span>
                                    </span>
                                    <span class="span1 icon_toggle"> <i class="icon-minus"> </i></span>	
                                </a>
                                </div>
                                
                                <div id="co" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <figure class="span3 img first">
                                        <img src="images/accordion_img.jpg" alt="" />
                                    </figure>
                                    <figure class="span9">
                                    <p> City Marathon 2013 alorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
                                    <a href="#"> Read More</a>
                                    </figure>
                                </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion_news" href="#c2">
                                    <span class="datem span3 first"> 05/27 </span>
                                    <span class="title span8"> Kids Fun Gala 
                                        <span class="location_date"> 
                                                <span class="location">	<i class="icon-map-marker"></i> London </span>
                                                <span class="date"> 	<i class="icon-time"></i>		May 27, 2013	 </span>
                                        </span>
                                    </span>
                                    <span class="span1 icon_toggle"> <i class="icon-plus"> </i></span>	
                                </a>
                                </div>
                                
                                <div id="c2" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <figure class="span3 img first">
                                        <img src="images/accordion_img.jpg" alt="" />
                                    </figure>
                                    <figure class="span9">
                                    <p> City Marathon 2013 alorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
                                    <a href="#"> Read More</a>
                                    </figure>
                                </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion_news" href="#c3">
                                    <span class="datem span3 first"> 05/29 </span>
                                    <span class="title span8"> Family Festival 
                                        <span class="location_date"> 
                                                <span class="location">	<i class="icon-map-marker"></i> London </span>
                                                <span class="date"> 	<i class="icon-time"></i>		May 29, 2013	 </span>
                                        </span>
                                    </span>
                                    <span class="span1 icon_toggle"> <i class="icon-plus"> </i></span>	
                                </a>
                                </div>
                                
                                <div id="c3" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <figure class="span3 img first">
                                        <img src="images/accordion_img.jpg" alt="" />
                                    </figure>
                                    <figure class="span9">
                                    <p> City Marathon 2013 alorum prompta, mel ea sumo semper nusquam. Soluta intellegebat vim id, vix timeam latine electram at. </p>
                                    <a href="#"> Read More</a>
                                    </figure>
                                </div>
                                </div>
                            </div>
     
                            
                    </div>
                </figure>
	                        

            </section>




        </section>
    </section>
                    
</div>
