<section class="banner_slider mbtm">
    <ul id="banner_slider">
        <li> 
            <img src="http://images.dev-winwins.net/1500x617/filters:grayscale()/bancame_slider_1.jpg" alt="Bancame Aceleradora" />
            <div class="slider_content"> 
                <p class="b_dark"> Bancame es...</p>
                <span class="clear"></span>
                <p class="b_green">la primera aceleradora de redes de américa latina</p>
            </div> 
        </li>
        
        <li> 
            <img src="http://images.dev-winwins.net/1500x617/filters:grayscale()/bancame_slider_2.jpg" alt="Bancame Red" />
            <div class="slider_content"> 
                <p class="b_dark"> Bancame es...</p>
                <span class="clear"></span>
                <p class="b_green">una red de economía colaborativa</p>
            </div> 
        </li>
        <li> 
            <img src="http://images.dev-winwins.net/1500x617/filters:grayscale()/bancame_slider_3.jpg" alt="Bancame Soluciones" />
            <div class="slider_content"> 
                <p class="b_dark"> Bancame es...</p>
                <span class="clear"></span>
                <p class="b_green">un banco de soluciones</p>
            </div> 
        </li>
    </ul>
</section>
<!-- End of Header Banner -->
<div class="container">

    <!-- Start of Donation Box -->
    <section id="donation_box" class="mbtm">
        <section class="container container-fluid">
            <section class="row-fluid">
                <figure class="span9">
                    <h2> 
                        Conocé nuestros mecanismos de <strong>transparencia</strong> y <strong> participación</strong>

                    </h2>
                </figure>
                <figure class="span3">
                    <a ui-sref="faq" data-placement="top" data-rel="tooltip" class="btn tier_button btns btn-large">Ver Más</a>
                </figure>
            </section>
        </section>
    </section>
    <!-- End of Donation Box -->

    <!-- Start of Charity News & Progress Section -->
    <section id="progress_news" class="mbtm">
        <section class="container-fluid container">
            <section class="row-fluid">
            
                <figure class="span6 first" id="_charity_progress">
                    <div ng-if="remark_campaign">
                        <h3> Campaña Destacada! </h3>
                        <div id="charity_process_inner">
                            <div class="span5 img first">
                                <img ng-src="http://images.dev-winwins.net/215x142/filters:grayscale()/{{remark_campaign.image}}" alt="{{remark_campaign.name}}" />
                            </div>
                            <div class="span7 progress_report">
                            <h2> {{remark_campaign.name}} </h2>
                            <h4> {{remark_campaign.context |limitTo: 300}}</h4>
                                  <br />
                                  <div class="info"> 
                                        <div class="span12 first">
                                            <span> {{remark_campaign.resources.length}} </span> recursos en <span> {{remark_campaign.start_date | leftdays}}</span> 
                                        </div>
                                  </div>
                                  
                            </div>
                        </div>
                    </div>
                </figure>

                <figure class="span6" id="news">
                        
                        <ul id="news_slider">
                        
                            <li ng-repeat="promoted_campaign in promoted_calls"> 
                                <div class="span5 first img_holder"> 
                                    <div class="img">
                                        <img ng-src="http://images.dev-winwins.net/220x155/filters:grayscale()/{{promoted_campaign.image}}" alt="{{promoted_campaign.name}}" />
                                    </div>
                                    <div class="img_title"> 
                                        href="/#/campaign/{{promoted_campaign.id}}"> <i class="icon-plus"></i> </a>
                                        <a href="/#/campaign/{{promoted_campaign.id}}"> {{promoted_campaign.name}}</a> 
                                    </div>
                                </div>
                                <div class="span7 ns_desc" > 
                                    <p>{{promoted_campaign.context | limitTo: 300}} </p>
                                    <a href="/#/campaign/{{promoted_campaign.id}}" class="rm"> Ver más <i class="icon-plus"></i></a>
                                </div> 
                            </li>

                        </ul>
                
                </figure>
                
            </section>
        </section>
    </section>

    <section class="container-fluid container">
        
        <section class="row-fluid">
            <figure class="span12 first outer_lyr" id="category_image"> 
                <img src="http://images.dev-winwins.net/799x265/filters:grayscale()/home_puzzle.jpg" alt="Bancame Convocatorias" />
            </figure>
        </section>

        <section class="row-fluid">
                
            <section class="span6 fund_rasising_listing" id="fund_rasising_listing">  
            
                        
                <figure class="span12 first" id="category_title">
                    <div class="span10 first"> <h3> OFRECE </h3>	</div>
                </figure>
                        
                <section class="span12 first projects_holder">
                            
                    <section ng-repeat="share_campaign in active_calls | filter: {share_phase: 1}" class="span6 first fund_project" id="charity_progress">
                        <img ng-src="http://images.dev-winwins.net/201x151/filters:grayscale()/{{share_campaign.image}}" alt="{{share_campaign.name}}" />
                        <span class="current_collection">{{share_campaign.name}}  </span>
                        <div class="info"> 
                            <div class="span12 first">
                                <span> {{share_campaign.resources.length}} </span> recursos en <span> {{share_campaign.start_date | leftdays}}</span> 
                            </div>

                        </div>

                    </section>
                    <hr />			
                </section>
                    
            </section>

            <section class="span6 fund_rasising_listing" id="fund_rasising_listing">  
            
                <figure class="span12 first" id="category_title">
                    <div class="span10 first"> <h3> SOLICITA </h3>	</div>
                </figure>
                <figure class="span12" id="news_accordion">
                    <div class="accordion" id="accordion_news">

                        <div class="accordion-group" ng-repeat="apply_campaign in active_calls | filter: {apply_phase: 1}">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_news" href="#call_{{apply_campaign.id}}">
                                    <span class="datem span3 first"> {{apply_campaign.end_date | moment: 'DD/MM'}}</span>
                                    <span class="title span8"> {{apply_campaign.name}}</span>
                                    <span class="span1 icon_toggle"> <i class="icon-minus"> </i></span>	
                                </a>
                            </div>
                                
                            <div id="call_{{apply_campaign.id}}" class="accordion-body collapse" ng-class="{in: $first}">
                                <div class="accordion-inner">
                                    <figure class="span3 img first">
                                        <img ng-src="http://images.dev-winwins.net/115x123/filters:grayscale()/{{apply_campaign.image}}" alt="{{apply_campaign.name}}" />
                                    </figure>
                                    <figure class="span9">
                                        <p> {{apply_campaign.context | limitTo: 300 }} </p>
                                        <a href="/#/campaign/{{apply_campaign.id}}"> Ver Más</a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </figure>
	                        

            </section>




        </section>
    </section>
                    
</div>
