<div class="container">
    <section>
        <section class="row-fluid">
            <!-- BreadCrumbs -->
                <figure id="breadcrumbs" class="span12">
                    <ul class="breadcrumb">
                    <li><a href="/#/">Inicio</a> <span class="divider">/</span></li>
                    <li><a href="/#/campaign/{{call.id}}">{{call.name}}</a> <span class="divider">/</span></li>
                    <li class="active">Detalle Recurso</li>
                    </ul>
                </figure>
            <!-- End of breadcrumbs -->
        </section>

        <section class="container-fluid container">
            <section class="row-fluid">
                <section id="donation_box">
                    <section class="container container-fluid">
                        <section class="row-fluid">
                            <div class="span8 first"> <h2> {{selected_resource.name}}</h2> </div>
                            <div class="span4 title_right">
                            <div class="dropdown" id="cart_dropdown">
                                <a class="btn" role="button" id="cart_down" href="#">
                                    Editar
                                </a>
                            </div>
                        </section>
                    </section>
                </section>		<!-- end of Page Title -->
            </section>
        </section>

    </section>
    <!-- End of Tile & Breadcrumbs -->

    <!-- Page Content Container -->
    <section id="content" class="mbtm product_detal">

        <section class="container-fluid container">
        
            <section class="row-fluid">
                <section class="span9 fund_project_detail" id="fund_project_detail">  

                    <section class="row-fluid">
                        
                        <figure class="span5 first" id="product_image">
                            <div class="pro_img" id="pro_img">
                                <img src="images/product_image.jpg" alt="Default image" /> 
                            </div>
                            <div class="span3 first"> <img src="images/cart_product_1.jpg" alt="" /> </div>
                            <div class="span3"> <img src="images/cart_product_2.jpg" alt="" /> </div>
                            <div class="span3"> <img src="images/cart_product_1.jpg" alt="" /> </div>
                            <div class="span3"> <img src="images/cart_product_2.jpg" alt="" /> </div>
                        </figure>
                        
                        <figure class="span7" id="product_info">
                            <h3> {{selected_resource.name}}</h3>
                            
                            <div class="price_holder"> 
                                <span class="current_price"> Tipo de Recurso: Alojamiento</span>
                            </div>
                            
                            <div class="description_holder"> 
                                {{selected_resource.description}}
                            </div>


                                <ul class="product_properties">
                                    <li> <i class="icon-chevron-right"></i>  {{selected_resource.conditions}}</li>
                                </ul>
                                
                                <ul class="stock_status">
                                        
                                        <li> <i class="icon-ok"></i> Aplicaste </li>
                                        <li ng-if="selected_resource.cost"> Costo {{selected_resource.cost}} </li>
                                
                                </ul>
                                

                        </figure>
                        
                        <button  data-placement="top" data-rel="tooltip" class="pull-right btn btn-large dropdown-toggle tier_button" type="submit">Aplicar</button>

                    </section>
                </section>
                <section id="sidebar" class="span3">
                                
                                <figure class="widget slider_products">
                                
                                    <h3> <i class="icon-pushpin"></i> Campaña </h3>
                                    
                                    <ul id="slider_products">
                                    
                                        <li> 
                                            <div class="product_img"> 
                                                <img ng-src="http://images.dev-winwins.net/422x256/{{call.image}}" alt="{{call.name}}" />
                                            </div>
                                            <div class="bottom_sec"> <span> <a href="/#/campaign/{{call.id}}"> {{call.name}}</a>  </span> </div>
                                        </li>
                                    
                                    </ul>
                                    
                                
                                </figure>
        
                </section>
            </section>
        </section>
    


        </section>

    </section>

</div>
