.big-panel
  clear: left
  padding: 40px
  &--faq
    font-family: $titleFont
    background: $naranja
    padding: 20px
    margin: 20px 0
  &__title
    font-size: 38px
    margin: 20px
    text-align: center
    text-transform: uppercase
    &--lower
      font-weight: 400
      text-transform: none
  &__content
    text-align: center
    font-size: 18px
    margin-bottom: 30px
  &__more
    text-align: center
    margin-bottom: 0
    font-size: 24px
    font-weight: bold
  &--arrow
    position: relative
    &:before
      content: ''
      position: absolute
      bottom: -50px
      left: 50%
      margin-left: -25px
      border: 25px solid transparent
      border-top-color: $purpura 
  &--invert
    color: #fff
    background: $purpura
  