.recursos
  text-align: center
  background: $purpura
  padding: 20px
  cf()
  &__title
    font-size: 38px
    color: #fff
  &__content
    color: #fff
    font-size: 18px
    margin-bottom: 25px
  &--detalle
    background: #fff
    text-align: left
    color: #000
    
    .recursos__subtitle
      font-size: 28px
      margin: 0 0 16px 0
    .recursos__title
      margin-top: 0
      font-size: 38px
      color: $rojo
    .recursos__content
      color: $gris_oscuro
    .recursos__image
      margin-bottom: 20px
    .tags
      margin-left: 0